.info-1, .info-2, .info-3 
{
    width: 30%;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-size: cover;
    border-radius: 5px;
    float: left;
    overflow: hidden;
    background-position: bottom;
    margin-inline: 5px;
}

.info-1
{
    background-image: url(/task-2/assets/task2-bg.jpeg);
    padding: 10px;
}

.info-2
{
    background-image: url(/task-2/assets/task2-bg1.jpeg);
    padding: 10px;
}

.info-3
{
    background-image: url(/task-2/assets/task2-bg2.jpg);
    padding: 10px;
}